## DB
# Local
# DB_URL=mongodb://localhost/issuetracker

# Atlas - replace UUU: user, PPP: password, XXX: hostname
DB_URL=mongodb+srv://newUser1:dr6KXq54hL2bSiuZ@cluster0.thlae.mongodb.net/heroku_g164svvl?retryWrites=true&w=majority

# mLab - replace UUU: user, PPP: password, XXX: hostname, YYY: port
# DB_URL=mongodb://UUU:PPP@XXX.mlab.com:YYY/issuetracker
# DB_URL=mongodb://heroku_g164svvl:veg253ccdepfr3848ftrea4g9o@ds115971.mlab.com:15971/heroku_g164svvl

## Server Port
PORT=3000

## Enable CORS (default: true)
# ENABLE_CORS=false

UI_SERVER_ORIGIN=http://ui.promernstack.com:8000

COOKIE_DOMAIN=promernstack.com

JWT_SECRET=YOUR_SPECIAL_SECRET